* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

ul, ol {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

html, body, #root {
  margin: 0;
  padding: 0;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}